* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    background: linear-gradient(to right, #672280, #A626D3)
}
header h4{
    color: white;
    font-size: 15px;
    font-weight: 100;
}
main{
    padding: 40px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: white;
    font-size: 23px;
    margin-left: 8px;
}
.logo img{
    height: 39px;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 40px;
}
.form input{
    border: 1.5px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 10px;
}
button{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    grid-column: 1/ -1;
}
