* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    background: linear-gradient(to right, #672280, #A626D3)
}
header h4{
    color: white;
    font-size: 15px;
    font-weight: 100;
}
main{
    padding: 40px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: white;
    font-size: 23px;
    margin-left: 8px;
}
.logo img{
    height: 39px;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 40px;
}
.form input{
    border: 1.71px solid #D5D4D8;
    border-radius: 5px;
    text-indent: 10px;
}
button{
    background: linear-gradient(90deg, #06055e 1.18%, #2307be 100%);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    grid-column: 1/ -1;
}
.meme {
    padding: 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memeImage {
    min-width: 500px;
    max-width: 90%;
    border-radius: 3px;
}

.memeText{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom {
    bottom: 20px;
}

.top {
    top: 20px;
}
